/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #8DC63F;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #8DC63F;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #80B536;
}

#portfolio a:focus{
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #8DC63F;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.bg-light {
    background-color: #f5f5f5;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

.text-white {
    color: #fff;
}

.text-dark {
    color: #333;
}

.brighten-low {
     -webkit-filter: brightness(115%);
}

.brighten-med {
     -webkit-filter: brightness(130%);
}

.brighten-low {
     -webkit-filter: brightness(150%);
}

.spacer {
    display: inline-block;
}

.content-row {
    margin-top: 30px;
}

section {
    padding: 100px 0;
    overflow: auto;
}

aside {
    padding: 50px 0;
}

.modal.modal-fullscreen {
    padding-right: 0 !important;
}

.modal.modal-fullscreen .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
}

.modal.modal-fullscreen.fade {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.modal.modal-fullscreen.fade.in {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.modal.modal-fullscreen .modal-content {
    height: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
    border: none;
}

.modal.modal-fullscreen .modal-body {
    background-color: #fff;
    padding: 0;
}

.modal.modal-fullscreen .modal-body .product-description {
    background-color: #fff;
    padding-top: 75px;
    height: 100%;
    line-height: 1.85;
}

@media(max-width:767px) {
    .modal.modal-fullscreen .modal-body .product-description {
        padding-top: 50px;
    }
}

.modal.modal-fullscreen .modal-header {
    border-bottom: none;
    position: relative;
    width: 100%;
    min-height: auto;
    max-height: 350px;
    text-align: center;
    color: #fff;
    padding: 0;
    overflow: hidden;
}

.modal.modal-fullscreen .modal-header img {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.modal.modal-fullscreen .modal-header .close {
    margin-right: 5px;
    margin-top: 5px;
    opacity: 0.9;
    padding: 5px 8px;
    color: #fff;
    text-shadow: 0 1px 0 #333;
}

.modal.modal-fullscreen .modal-header .modal-header-content {
    opacity: 1 !important;
}

.modal.modal-fullscreen .modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* .modal.modal-fullscreen .modal-header::before{
  background-color: rgba(141,198,63,.8);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
} */

.modal.modal-fullscreen .product-title {
    padding-top: 20px;
    padding-bottom: 30px;
    z-index: 2000;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #8DC63F;
}

.navbar-default .navbar-header .navbar-brand img {
    height: 24px;
    float: left;
    padding-right: 5px;
    margin-top: -1px;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #8DC63F!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #8DC63F;
    }

    .navbar-default.affix .navbar-header .navbar-brand img {
        margin-top: -2px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #80B536;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #8DC63F;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 0 auto 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading,
.text-heading {
    margin-top: 0;
}

.section-heading {
    text-transform: uppercase;
    font-weight: 900;
}

@media (min-width: 481px) {
  .section-heading {
    font-size: 52px;
  }
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption,
.modal.modal-fullscreen .modal-header .modal-header-content {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(141,198,63,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content,
.modal.modal-fullscreen .modal-header .modal-header-content .modal-header-content-inner {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 30px;
}

.text-primary {
    color: #8DC63F;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #8DC63F;
    color: #fff;
    background-color: #8DC63F;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #7CAD34;
    color: #fff;
    background-color: #80B536;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #8DC63F;
    background-color: #8DC63F;
}

.btn-primary .badge {
    color: #8DC63F;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

#about .about-left {
    padding-right: 40px;
    border-right: 1px solid rgba(255,255,255,0.4);
}

#about .about-right {
    padding-left: 40px;
}

@media (max-width:1199px) {
    #about .about-left {
        padding-right: 15px;
        border-right: 0 solid transparent;
    }

    #about .about-right {
        margin-top: 100px;
        padding-left: 15px;
    }
}

.photo-bg {
    height: 750px;
    color: #fff;
}

.photo-bg-content {
    position: relative;
    top: 36%;
}

.photo-bg-content h1,
.photo-bg-content h2 {
    line-height: 1.3;
}

#inspiration {
    background: url('/img/bg_road.jpg') no-repeat center center fixed;
    background-size: cover;
}

#timeline {
    background-color: #f5f5f5;
}

#dog {
    background: url('/img/bg_dog.jpg') no-repeat center top fixed;
    height: 1500px;
    background-size: cover;
}

#contact {
    background: url('/img/bg_buildings.jpg') no-repeat center top fixed;
    padding-bottom: 10px;
    height: auto;
    background-size: cover;
}

.contact-details {
    margin-top: 50px;
    margin-bottom: 50px;
}

.social-media {
    margin-bottom: 100px;
}

.social-media a {
    color: rgba(255,255,255,.7);
}

.social-media a:hover,
.social-media a:focus {
    color: #f0f0f0;
}

#meet-the-team .team-member-box {
  padding: 30px 15px;
}
#meet-the-team .team-member-box img {
    display: inline;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#meet-the-team .team-member-box .caption {
  padding: 15px;
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: -4%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
#meet-the-team .team-member-box .caption h3 {
  margin: 0;
  font-size: 22px;
}
#meet-the-team .team-member-box .caption hr {
  margin: 5px auto;
  max-width: 50px;
}
#meet-the-team .team-member-box .caption p {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}
#meet-the-team .team-member-box .caption ul.social {
  margin-top: 5px;
}
#meet-the-team .team-member-box .caption ul.social li a {
  color: rgba(255, 255, 255, 0.7);
}
#meet-the-team .team-member-box .caption ul.social li a:hover,
#meet-the-team .team-member-box .caption ul.social li a:focus {
  color: #fff;
}

/* timeline */
.timeline-start {
    margin-top: 50px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    color: #333;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            background-color: #fff;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            text-align: right;
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
            text-align: left;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-weight: 600;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
        text-align: left;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

.vertical-align {
    display: flex;
    align-items: center;
}

@media (max-width:991px) {
    .vertical-align {
        display: block;
    }
}

.commitments h3 {
    margin-bottom: 30px;
}

.commitments .container-fluid,
.commitments .col-md-6 {
    padding: 0;
    overflow: hidden;
}

.commitments .commitment-content,
.commitments p.commitment-text {
    padding-left: 50px;
    padding-right: 50px;
}

.commitments .container-fluid .content-row {
    margin-top: 70px;
}

#commit2 {
    background-color: #f5f5f5;
}

.commitment-img-left img,
.commitment-img-right img {
    padding: 75px;
}

#owl-clients .item {
    margin: 3px;
}
#owl-clients .item img {
    display: block;
    width: 100%;
    height: auto;
}
